In [25]:
import pandas as pd

In [43]:
df_1 = pd.read_csv('74-59.csv', sep=',')[['PREDICT']].T
df_1['TARGET'] = 74.59
df_int = df_1

df_2 = pd.read_csv('74-5614.csv', sep=',')[['PREDICT']].T
df_2['TARGET'] = 74.5614

df_int = df_int.append(df_2)
df_int

,0,1,2,3,4,5,6,7,8,9,...,342,343,344,345,346,347,348,349,350,TARGET
PREDICT,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,74.5900
PREDICT,1,0,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,0,74.5614